#kanji-input {
    display: block;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    margin: 1em;
    border: 2px solid #54ac6d;
    border-radius: 0.67em;
    text-align: center;
}

#kanji-submit.show::after {
    content: '&#x2b50;';
    display: inline-block;
    position: absolute;
    margin: 0 1em;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}